#contenedor {
    width: 100%; 
    margin: 0; 
}


#cabecera {
    display: none;
}


#menu {
    float: left;
    width: 200px;
    height: 230px;
    background-color: #cc5d5da3; 
    padding: 10px;
}


#contenido {
    float: left;
    width: 1200px; 
    height: 460px;
    background-color: #e3de4d;
    padding: 10px;
}


#pie {
    clear: both; 
    background-color: #54c07a;
    padding: 20px;
    height: 50px;
    text-align: center;
}
